* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-barlow);
  font-size: clamp(
    0.875em,
    1vw + 0.5em,
    1em
  );
  line-height: 1.4;
  background-color: var(--grey-100);
}

.container {
  max-width: 320px;
  margin: 0 auto;
}

.testimonials {
  display: flex;
  flex-direction: column;
  gap: 1.9em;
  padding: 4em 1.1em;
}

.testimonial-image {
  width: 40px;
  border-radius: 50%;
}

.purple {
  border: 2px solid var(--purple-300);
}

.testimonial-details-flex {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1.5em;
  width: 200px;
}

.testimonial-details p {
  color: var(--grey-200);
}

.testimonial-heading {
  margin-top: 0.9em;
}

.testimonial-text {
  margin-top: 0.9em;
}

.daniel-clifford {
  background-color: var(--purple-500);
  color: var(--white);
  padding: 1.3em;
  border-radius: 0.5em;
}

.jonathan-walters {
  background-color: var(--grey-500);
  color: var(--white);
  padding: 1.3em;
  border-radius: 0.5em;
}

.jeanette-harmon {
  background-color: var(--white);
  padding: 1.3em;
  border-radius: 0.5em;
  color: var(--grey-500);
}

.patrick-abrams {
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 1.3em;
  border-radius: 0.5em;
}

.kira-whittle {
  background-color: var(--white);
  color: var(--dark-blue);
  padding: 1.3em;
  border-radius: 0.5em;
  color: var(--grey-500);
}
